body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#generateNotice,
#generatedNotice {
  text-align: center;
  margin-top: 20px;
}

#audioPlayer {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 400px;
}
